<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace=".MsklUserLoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.mskl.dao.model.MsklUserLoginLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="login_datetime" property="loginDatetime" jdbcType="TIMESTAMP" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="is_success" property="isSuccess" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, login_datetime, login_ip, is_success
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mskl_user_login_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mskl_user_login_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mskl.dao.model.MsklUserLoginLog" >
    insert into mskl_user_login_log (id, user_id, login_datetime, 
      login_ip, is_success)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{loginDatetime,jdbcType=TIMESTAMP}, 
      #{loginIp,jdbcType=VARCHAR}, #{isSuccess,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mskl.dao.model.MsklUserLoginLog" >
    insert into mskl_user_login_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="loginDatetime != null" >
        login_datetime,
      </if>
      <if test="loginIp != null" >
        login_ip,
      </if>
      <if test="isSuccess != null" >
        is_success,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="loginDatetime != null" >
        #{loginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mskl.dao.model.MsklUserLoginLog" >
    update mskl_user_login_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="loginDatetime != null" >
        login_datetime = #{loginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null" >
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        is_success = #{isSuccess,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mskl.dao.model.MsklUserLoginLog" >
    update mskl_user_login_log
    set user_id = #{userId,jdbcType=BIGINT},
      login_datetime = #{loginDatetime,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      is_success = #{isSuccess,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>